<div id="PLACEHOLDER_LOWER" class="c2" style="margin-left: -30px; border-radius: 0 30px 30px 0; width: fit-content; padding: 0px; padding-left: 30px; padding-right: 30px; margin-bottom: 20px;">
    <h1 class="text" style="font-family: Lexend; font-weight: 200; margin-left: 0px;">
        PLACEHOLDER_TITLE
    </h1>
</div>
<div style="display: flex; gap: 20px; flex-wrap: wrap; margin-bottom: 20px;">
    <script src="../../js/list_generator.js" data-char="PLACEHOLDER_TITLE" data-type="PLACEHOLDER_TYPE"></script>
</div>