#spread-right-animation > div
{
    transition: 500ms;
    width: 0px;
}
#spread-right-animation:hover > div
{
    width: 300px;
}

.card-hover
{
    transition: 0.2s;
    transform: translateY(0px) scale(1);
}
.card-hover:hover
{
    transform: translateY(-10px) scale(1);
}
.card-hover:active
{
    transform: translateY(-10px) scale(.95);
}

.letter-hover
{
    transition: 0.2s;
    transform: translateY(0px) scale(1);
}
.letter-hover:hover
{
    transform: translateY(-5px) scale(1);
}
.letter-hover:active
{
    transform: translateY(-5px) scale(.9);
}

.tab-hover > div > h1,
.tab-hover > div > h2
{
    transition: 0.2s;
    margin-left: 0px;
}
.tab-hover:hover > div > h1,
.tab-hover:hover > div > h2
{
    margin-left: 30px;
}
.tab-hover.scrolled:not(:hover) > div > h2 {
    margin-left: -100px;
}

.button-hover
{
    transition: 0.2s;
    transform: translateY(0px);
}
.button-hover:hover 
{
    transform: translateY(-10px);
}

.opacity-hover
{
    transition: 0.2s;
    opacity: 1;
}
.opacity-hover:hover
{
    opacity: 1;
}
.opacity-hover > div > a > .hashtag
{
    transition: 0.2s;
    padding-left: 0px;
}
.opacity-hover:hover > div > a > .hashtag
{
    padding-left: 30px;
}
.opacity-hover > div > a > .hashtag > div
{
    opacity: 1;
}
.opacity-hover:hover > div > a > .hashtag > div
{
    opacity: 0;
}
.opacity-hover > div > a > .text
{
    transition: 0.2s ease-in;
    margin-left: -1000px;
}
.opacity-hover:hover > div > a > .text
{
    transition: 0.2s ease-out;
    margin-left: 0px;
}