<style>
    #PLACEHOLDER_LOWER-image-card-check:not(:checked) ~ #PLACEHOLDER_LOWER-image-card-main > label > div > #PLACEHOLDER_LOWER-image-card-image
    { transition: 0.2s; height: 128px; }
    #PLACEHOLDER_LOWER-image-card-check:checked ~ #PLACEHOLDER_LOWER-image-card-main > label > div > #PLACEHOLDER_LOWER-image-card-image
    { transition: 0.2s; height: 256px; }
    #PLACEHOLDER_LOWER-image-card-check:not(:checked) ~ #PLACEHOLDER_LOWER-image-card-main
    { transition: 0.2s; width: 128px; }
    #PLACEHOLDER_LOWER-image-card-check:checked ~ #PLACEHOLDER_LOWER-image-card-main
    { transition: 0.2s; width: 512px; }
    #PLACEHOLDER_LOWER-image-card-check:not(:checked) ~ #PLACEHOLDER_LOWER-image-card-main > label > div > div > a
    { transition: 0.2s; opacity: 0; pointer-events: none; }
    #PLACEHOLDER_LOWER-image-card-check:checked ~ #PLACEHOLDER_LOWER-image-card-main > label > div > div > a
    { transition: 0.2s; opacity: 1; pointer-events: all; }
    .PLACEHOLDER_LOWER-image-link > div
    { transition: 0.2s; opacity: 0; }
    .PLACEHOLDER_LOWER-image-link:hover > div
    { opacity: 1; }
</style>
<input type="checkbox" id="PLACEHOLDER_LOWER-image-card-check">
<button id="PLACEHOLDER_LOWER-image-card-main" class="button-hover" style="border: none; background: none; flex-shrink: 0;">
    <label id="a-label" for="PLACEHOLDER_LOWER-image-card-check" style="cursor: pointer;">
        <div class="solid-background shadow outline" style="height: fit-content; padding: 10px; border-radius: 10px; display: flex; flex-direction: column; align-items: center; overflow: hidden;">
            <div id="PLACEHOLDER_LOWER-image-card-image" style="position: relative; width: 100%;">
                <img src="PLACEHOLDER_ICON" style="max-width: 100%; max-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <a href="PLACEHOLDER_ICON" download class="PLACEHOLDER_LOWER-image-link" style="height: 64px; width: 64px; position: absolute; right: 32px; top: 50%; transform: translateY(-50%); background-image: url('../../img/icons/Download.png'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                    <div style="background-color: white; height: 100%; width: 100%; mix-blend-mode: exclusion; pointer-events: none;"></div>
                </a>
            </div>
            <div class="c3" style="margin: -10px; margin-top: 10px; padding: 10px; display: flex; justify-content: center; align-items: center; width: 100%;">
                <h3 class="text-d lexend" style="font-weight: 400; word-wrap: break-word; text-overflow: ellipsis; width: 100%;">
                    PLACEHOLDER_TITLE
                </h3>
            </div>
        </div>
    </label>
</button>