<div class="c0" style=" padding: 20px; width: fit-content; border-radius: 30px 30px 0px 0px; margin-left: -30px; margin-top: -100px; padding-bottom: 20px;">
    <h1 class="text" style="font-family: Lexend; font-weight: 200; font-size: 50px; margin-top: -5px; letter-spacing: 5px;">
        ${TEXT}
    </h1>
</div>
<div style="width: fit-content;">
    <a href="${LINK}" class="tab-hover" style="width: fit-content;">
        <div class="solid-background" style="margin-left: -30px; border-radius: 0 30px 30px 0; width: fit-content; padding: 20px; padding-left: 30px; padding-right: 30px; margin-bottom: 20px;">
            <h1 class="text" style="font-family: Lexend; font-weight: 200;">
                Back
            </h1>
        </div>
    </a>
</div>