<div class="solid-background" style="overflow-x: hidden; height: fit-content; flex-shrink: 0; padding: 20px; width: 300px; border-radius: 20px; top: -80px; right: 50px; display: flex; flex-direction: column; align-items: flex-start; margin-top: -100px; margin-bottom: 20px;">
    <p class="text hide" style="font-family: Lexend; font-size: xx-large; margin-bottom: 20px; align-self: center;">
        Useful Links
    </p>
    <side-card-element icon="Item.png" text="Items" link="html/item list.html"></side-card-element>
    <side-card-element icon="Block.png" text="Blocks" link="html/block list.html"></side-card-element>
    <side-card-element icon="Biome.png" text="Biomes" link="html/biome list.html"></side-card-element>
    <side-card-element icon="Crafting.png" text="Recipes" link="html/recipe list.html"></side-card-element>
</div>