<div class="solid-background" style="overflow-x: hidden; height: fit-content; flex-shrink: 0; padding: 20px; width: 300px; border-radius: 20px; top: -80px; right: 50px; display: flex; flex-direction: column; align-items: center; margin-top: -100px; margin-bottom: 20px;">
    <p class="text hide" style="font-family: Lexend; font-size: xx-large; margin-bottom: 20px;">
        Useful Links
    </p>
    <div style="display: flex; gap: 10px; align-self: flex-start; align-items: center; width: 100%; padding: 5px; position: relative;">
        <img src="PLACEHOLDER_ROOT../img/icons/Block.png" style="width: 32px; height: 32px;">
        <p class="text lexend" style="font-size: large;">
            Blocks
        </p>
        <a href="PLACEHOLDER_ROOT../html/block list.html" id="spread-right-animation" style="cursor: pointer; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
            <div style="mix-blend-mode: exclusion; background-color: white; height: 100%;"></div>
        </a>
    </div>
    <div style="display: flex; gap: 10px; align-self: flex-start; align-items: center; width: 100%; padding: 5px; position: relative;">
        <img src="PLACEHOLDER_ROOT../img/icons/Item.png" style="width: 32px; height: 32px;">
        <p class="text lexend" style="font-size: large;">
            Items
        </p>
        <a href="PLACEHOLDER_ROOT../html/item list.html" id="spread-right-animation" style="cursor: pointer; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
            <div style="mix-blend-mode: exclusion; background-color: white; height: 100%;"></div>
        </a>
    </div>
    <div style="display: flex; gap: 10px; align-self: flex-start; align-items: center; width: 100%; padding: 5px; position: relative;">
        <img src="PLACEHOLDER_ROOT../img/icons/Biome.png" style="width: 32px; height: 32px;">
        <p class="text lexend" style="font-size: large;">
            Biomes
        </p>
        <a href="PLACEHOLDER_ROOT../html/biome list.html" id="spread-right-animation" style="cursor: pointer; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
            <div style="mix-blend-mode: exclusion; background-color: white; height: 100%;"></div>
        </a>
    </div>
    <div style="display: flex; gap: 10px; align-self: flex-start; align-items: center; width: 100%; padding: 5px; position: relative;">
        <img src="PLACEHOLDER_ROOT../img/icons/Crafting.png" style="width: 32px; height: 32px;">
        <p class="text lexend" style="font-size: large;">
            Recipes
        </p>
        <a href="PLACEHOLDER_ROOT../html/recipe list.html" id="spread-right-animation" style="cursor: pointer; position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
            <div style="mix-blend-mode: exclusion; background-color: white; height: 100%;"></div>
        </a>
    </div>
</div>