<link rel="stylesheet" href="../css/fonts/Lexend.css">
<link rel="stylesheet" href="../css/fonts/Raleway.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/style/backgrounds.css">
<link rel="stylesheet" href="../css/style/shadow.css">
<link rel="stylesheet" href="../css/animation/header.css">
<link rel="stylesheet" href="../css/animation/hover.css">
<link rel="stylesheet" href="../css/layout/checkbox-returns.css">
<link rel="stylesheet" href="../css/style/outline.css">