<meta content="CEMM Wiki" property="og:title"/>
<meta content="(WIP) The official wiki of CE's Minerals & More for Minecraft Forge 1.20.1" property="og:description"/>
<meta content="https://creeperentertain.github.io/CEMM-Wiki" property="og:url"/>
<meta content="https://creeperentertain.github.io/CEMM-Wiki/CEMM Logo.png" property="og:image"/>
<meta content="#8E94A2" data-react-helmet="true" name="theme-color"/>

<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/fonts/Lexend.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/fonts/Raleway.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/main.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/style/backgrounds.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/style/shadow.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/animation/header.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/animation/hover.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/layout/checkbox-returns.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/style/outline.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/style/colors.css">
<link rel="stylesheet" href="PLACEHOLDER_ROOTcss/layout/scroll offsets.css">