.solid-background
{
    background-color: black;
}
.c0
{
    background-color: #13131b;
    background-image: url('../../img/overlays/Mixed.png');
}
.c1
{
    background-color: #1b1e2b;
}
.c2
{
    background-color: #393e50;;
}
.c3
{
    background-color: #8E94A2;
    background-image: url('../../img/overlays/Mixed.png');
}