.solid-background
{
    background-color: black;
}
.c0
{
    background-color: #13131b;
    background-image: url('../../img/overlays/Mixed.png');
}
.c1
{
    background-color: #1f2333;
}
.c2
{
    background-color: #393e50;
}
.c3
{
    background-color: #8E94A2;
    background-image: url('../../img/overlays/Mixed.png');
}

.solid-color-g-up
{
    background: linear-gradient(to top, #00000000, #000000ff);
}
.c0-g-up
{
    background: #13131b;
    background: linear-gradient(to top, #13131b00, #13131bff);
}
.c1-g-up
{
    background: #1f2333;
    background: linear-gradient(to top, #1f233300, #1f2333ff);
}
.c2-g-up
{
    background: #393e50;
    background: linear-gradient(to top, #393e5000, #393e50ff);
}
.c3-g-up
{
    background: #8E94A2;
    background: linear-gradient(to top, #8E94A200, #8E94A2ff);
}