.shadow
{
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.5);
}
.inset-shadow
{
    box-shadow: inset 0px 5px 15px 5px rgba(0,0,0,0.5);
}

.shadow-alt
{
    box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.5);
}
.inset-shadow-alt
{
    box-shadow: inset 0px 5px 15px 5px rgba(255,255,255,0.5);
}